<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello World</title>
</head>

<body>
    <h1>Hello World!</h1>

    <p>ABC</p>
    <p>abc</p>
    <p>012</p>
    <p>あいう</p>
    <p>アイウ</p>

    <% const para = '<span style="color:#ff0000;">Hello EJS!</span>'; %>
    <!--エスケープ有り-->
    <p><%= para %></p>
    <!--エスケープ無し-->
    <p><%- para %></p>

    <p>にゃーん</p>

    <a href='/staff'>staff</a>

    <a href='/memo'>memo</a>

    <a href='/daikichi'>大吉みくじ</a>

    <a href='/webdemo'>Web Demo</a>

    <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME" chat-title="MyOmikuji" agent-id="fc67c512-c401-4676-acee-76f725906777"
        language-code="ja"></df-messenger>
</body>

</html>