<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Memo</title>
    <link rel="stylesheet" href="/css/memo.css">
</head>

<body>
    <h1>Memo</h1>

    <table>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>time</th>
            <th>body</th>
        </tr>
        <% data.forEach((item) => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.title %></td>
            <td><%= item.time %></td>
            <td><%= item.body %></td>
        </tr>
        <% });%>
    </table>

    <form action="/memo/send" method="post">
        <label>
            <p>タイトル</p>
            <input type="text" name="title">
        </label>
        <br />
        <label>
            <p>本文</p>
            <textarea name="body" cols="40" rows="10"></textarea>
        </label>
        <br />
        <input type="submit" value="送信">
        <input type="button" style="display: none;">
    </form>
</body>

</html>